<h1>NO IN USE.</h1>
Profile update is done in register page.

<h2 *ngIf="fire.user.isLogout">Please login to update profile.</h2>
<form (ngSubmit)=" onSubmitForm( $event ) " *ngIf=" fire.user.isLogin ">
  <div>
    <label>Email:</label>
    <span>
      {{ fire.user.email }}
    </span>
  </div>



  <div>
    <label>Profile Photo:</label>
    <div>
      <div *ngIf="data.length && data[0].url">
        <img src="{{ data[0]?.thumbnailUrl ? data[0]?.thumbnailUrl : data[0]?.url }}">
        <button (click)="onClickDelete()" *ngIf="!loader.delete">Delete</button>
        <span class="loader" *ngIf="loader.delete">Deleting...</span>
      </div>
      <div>Percentage: {{ percentage }}%</div>
      <app-data [path]="'profile-photo'"
        [data]=" data "
        [deleteOldFiles]="true"
        [displayFiles]="false"
        [displayProgress]="false"
        (upload)="onUpload()"
        (progress)="onProgress( $event )"></app-data>
    </div>
  </div>


  <div>
    <label>Display Name:</label>
    <span>
      <input type="text" name="displayName" [(ngModel)]="user.displayName">
    </span>
  </div>

  <div>
    <label>Mobile No.:</label>
    <span>
      <input type="number" name="mobile" [(ngModel)]="user.mobile">
    </span>
  </div>

  <div>
    <label>City:</label>
    <span>
      <input type="text" name="city" [(ngModel)]="user.city">
    </span>
  </div>

  <button type="submit" *ngIf="!loader.update">Update Profile</button>
  <span class="loader" *ngIf="loader.update">Updating Profile... Please wait.</span>
  <button type="button" [routerLink]="'/'">Cancel</button>

</form>
